

.todoList {
    display: flex;
    flex-direction: column;
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: 5px;
    margin: 1rem 0;
    width: 100%;
    min-height: 450px;
}