:root {

    /*Primary Color*/
    --Bright-Blue: hsl(220, 98%, 61%);
    --Check-Background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    /*Light Theme*/

    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

    /*Dark Theme*/

    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue-1: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue-2: hsl(237, 14%, 26%);

    /*Font Family*/
    --Font-Family: 'Josefin Sans', sans-serif;
    --font-weigth : 400;
    --font-weigth-bold : 700;

}

/* Modo oscuro aplicado globalmente al body */
:global(body.dark-mode) {
  background-color: var(--Very-Dark-Blue);
  color: var(--Light-Grayish-Blue);
}
:global(body.dark-mode) .form {
  background-color: var(--Very-Dark-Desaturated-Blue);
}

:global(body.dark-mode) input[type="text"] {
  background-color: transparent;
  color: var(--Light-Grayish-Blue);
}

:global(body.dark-mode) input,
:global(body.dark-mode) button.toggleButton {
  background-color: transparent;
}

:global(body.dark-mode) div.background {
  background-image: url("../../../src/assets/images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.7s ease;
}

:global(body:not(.dark-mode)) div.background {
  background-image: url("../../../src/assets/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--Font-Family);
  background-color: var( --Very-Light-Gray);
  color: var(--Very-Dark-Blue);
  transition: background-color 0.7s ease, color 0.7s ease;
}

.todoApp {
  max-width: 1440px;
  position: relative;
}

.background {
    max-width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: -1;
}

.todoBox {
    width: 440px;
    height: 620px;
    padding: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: var(--Font-Family);
    font-size: 2.5rem;
    font-weight: var(--font-weigth-bold);
    letter-spacing: 10px;
    color: var(--Very-Light-Grayish-Blue);
}

.toggleButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.form {
  display: flex;
  align-items:center;
  justify-content:flex-start;
  background-color: var( --Very-Light-Gray);
  border-radius: 5px;
  margin: 1rem 0;
  width: 100%;
  height: 50px;
}

.checkbox .checkButton {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--Dark-Grayish-Blue);
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.checkButton > img {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

input[type="text"] {
  flex: 1;
  background-color: transparent;
  border: none;
  color: var(--Very-Dark-Blue);
  font-size: 1.2rem;
}

input[type="text"]:focus {
  outline: none;
}

.taskInfo {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
}

.taskCount {
  font-size: 0.9rem;
  color: var(--Dark-Grayish-Blue);
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filters > button {
  background: transparent;
  border: none;
  color: var(--Dark-Grayish-Blue);
  cursor: pointer;
}

.filters > button:hover {
  color: var(--Very-Dark-Grayish-Blue);
  
}

.filters > button.active {
  color: var(--Bright-Blue);
  font-weight: var(--font-weigth-bold);
}

.clearCompleted {
  margin-bottom: 1rem;
  background: transparent;
  border: none;
  color: var(--Dark-Grayish-Blue);
  cursor: pointer;
}
.clearCompleted:hover {
  color: var(--Very-Dark-Grayish-Blue);
}

.footer {
  font-size: 0.9rem;
  color: gray;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  z-index: 1;
}